[user]
  name = vollowx
  email = vollowx@outlook.com
  signingkey = vollowx@outlook.com
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
