[Unit]
Description=Run newsboat-update every 15 minutes

[Timer]
OnCalendar=*:0/15
RandomizedDelaySec=2m
Persistent=true
Unit=newsboat-update.service

[Install]
WantedBy=default.target
