[submodule "home-cli/.vim/pack/tpope/start/fugitive"]
	path = home-cli/.vim/pack/tpope/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home-cli/.vim/pack/tpope/start/unimpaired"]
	path = home-cli/.vim/pack/tpope/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home-cli/.vim/pack/tpope/start/commentary"]
	path = home-cli/.vim/pack/tpope/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "home-cli/.vim/pack/sainnhe/start/everforest"]
	path = home-cli/.vim/pack/sainnhe/start/everforest
	url = https://github.com/sainnhe/everforest.git
[submodule "home-cli/.vim/pack/vollowx/start/vinegar"]
	path = home-cli/.vim/pack/vollowx/start/vinegar
	url = https://github.com/vollowx/vim-vinegar.git
