**/__pycache__/
home-cli/.config/mpd/mpd.db
home-cli/.config/mpd/playlists/**
home-cli/.config/ncmpcpp/error.log
home-gui/.config/gtk-3.0/bookmarks
home-gui/.config/qutebrowser/bookmarks/urls
home-gui/.config/qutebrowser/quickmarks
home-gui/.config/qutebrowser/qsettings/QtProject.conf
