**/__pycache__/
graphical/.config/gtk-3.0/bookmarks
graphical/.config/qutebrowser/bookmarks/urls
graphical/.config/qutebrowser/quickmarks
graphical/.config/qutebrowser/qsettings/QtProject.conf
headless/.config/mpd/mpd.db
headless/.config/mpd/playlists/**
headless/.config/ncmpcpp/error.log
