**/__pycache__/
home-desktop/.config/gtk-3.0/bookmarks
home-desktop/.config/qutebrowser/bookmarks/urls
home-desktop/.config/qutebrowser/quickmarks
home-desktop/.config/qutebrowser/qsettings/QtProject.conf
home-terminal/.config/mpd/mpd.db
home-terminal/.config/mpd/playlists/**
home-terminal/.config/ncmpcpp/error.log
