@import "../../.cache/dotfiles/md3/gtk-colors.css";

window#waybar {
  font-family: monospace;
  font-size: 9pt;
  background: @surface_container_lowest;
  color: @on_surface_variant;
}

#workspaces,
#mode,
#scratchpad,
#custom-swayidle,
#tray,
#clock {
  padding: 0 8px;
}

.hl {
  padding-left: 8px;
}
.nm {
  padding-right: 8px;
}

#custom-divider {
  margin: 8px;
  padding-left: 1px;
  font-size: 0;
  background-color: @outline;
}

.hl,
#clock {
  color: @primary;
  font-weight: bold;
}

#workspaces {
  padding: 2px 0;
  margin-right: 8px;
}

#workspaces button {
  all: unset;
  padding: 0 6px;
  font-weight: bold;
  border-radius: 4px;
  transition-duration: 120ms;
  background-color: @secondary_container;
  color: @on_secondary_container;
}
#workspaces button:not(:nth-child(1)) {
  margin-left: 2px;
}
#workspaces button:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#workspaces button:nth-last-child(1) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#workspaces button.focused {
 
  border-radius: 10px;
  background-color: @secondary;
  color: @on_secondary;
}

#workspaces button.urgent {
  font-weight: bold;
  background-color: @error_container;
  color: @on_error_container;
}

#custom-swayidle,
#mode {
  font-weight: bold;
  color: @tertiary;
}

#mpd.hl {
  font-style: italic;
}

#mpd.paused,
#mpd.stopped,
#wireplumber.muted,
#network.disconnected {
  color: @outline;
}
