@import "../../.cache/dotfiles/md3/gtk-colors.css";

window#waybar {
  font-family: monospace;
  font-size: 9pt;
  background: @surface_container_lowest;
  color: @on_surface_variant;
}

#workspaces,
#mode,
#scratchpad,
#custom-swayidle,
#tray,
#clock {
  padding: 0 8px;
}

.hl {
  padding-left: 8px;
}
.nm {
  padding-right: 8px;
}

#workspaces {
  padding: 0px;
}

.hl,
#clock {
  color: @primary;
  font-weight: bold;
}

#workspaces button {
  all: unset;
  padding: 0 6px;
  background-color: @surface_container;
  color: @outline;
}
#workspaces button:not(:nth-child(1)) {
  border-left: 1px solid @surface_container_highest;
}

#workspaces button.focused {
  font-weight: bold;
  background-color: @primary_container;
  color: @on_primary_container;
}

#workspaces button.urgent {
  font-weight: bold;
  background-color: @error_container;
  color: @on_error_container;
}

#custom-swayidle {
  font-weight: bold;
  background-color: @secondary_container;
  color: @on_secondary_container;
  border-left: 1px solid @surface_container_highest;
}

#mode {
  font-weight: bold;
  background-color: @tertiary_container;
  color: @on_tertiary_container;
  border-left: 1px solid @surface_container_highest;
}

#mpd.hl {
  font-style: italic;
}

#mpd.paused,
#mpd.stopped,
#wireplumber.muted,
#network.disconnected {
  color: @outline;
}

#wireplumber,
#network {
  background-color: @surface_container_low;
}

#clock {
  background-color: @surface_container;
}
